@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



.calc-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../imagens/calc-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.calculadora {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(22, 22, 22);
    width: 400px;
    height: 700px;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 30%);
    border: outset 1px rgb(240, 80, 101);

}

.tela {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    border-bottom: solid 1px black;

}

.historico {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 100%;
    border-right: solid 1px black;
    overflow-y: scroll;
    gap: 10px;
    padding-top: 10px;
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: brown rgb(22, 22, 22);

}

.historico::-webkit-scrollbar {
    width: 3px;
    /* width of the entire scrollbar */
}

.historico::-webkit-scrollbar-track {
    background: rgb(22, 22, 22);
    /* color of the tracking area */
}

.historico::-webkit-scrollbar-thumb {
    background-color: brown;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /*border: 3px solid orange;*/
    /* creates padding around scroll thumb */
}


.result-historico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.operacao-historico {
    color: brown;
    font-size: 1em;
}

.op-numero-historico {
    color: aliceblue;
    font-size: 2.5em;
}

.visor-main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.visor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;



}

.bnt-historico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: aliceblue;
}

.bnt-historico:hover {
    color: brown;
    cursor: pointer;

}

.operacao {
    color: brown;
    font-size: 1.2em;
}

.op-numero {
    color: aliceblue;
    font-size: 3em;
}

.botoes-container {
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 95px);
    grid-template-rows: repeat(5, 80px);
    background-color: rgb(24, 22, 22);
    padding: 10px;
    font-size: 1.4em;

}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: aliceblue;
    cursor: pointer;


}

.botoes:hover {
    width: 53px;
    height: 53px;
    font-size: 1.2em;
}

.botoes.destaque {
    color: brown;
}

.botoes.destaque2 {
    background-color: brown;
    border-radius: 50%;
}

.botoes.destaque2:active {
    background-color: brown;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 1em;

}

.mensagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 350px;
    max-height: 250px;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    gap: 50px;
    backdrop-filter: blur(5px);
    background-color: rgba(240, 80, 101, 0.7);
    color: aliceblue;

}

.mensagens button {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: brown;
    color: aliceblue;
    transition: transform 1s;
    box-shadow: 0px 5px 20px rgb(122, 21, 34);
}

.mensagens button:hover {
    background-color: aliceblue;
    ;
    color: rgb(0, 0, 0);

}


.mensagens div {
    display: flex;
    gap: 20px;
}

.copyright {
    position: absolute;
    bottom: 10px;
    color: rgb(29, 18, 18);
}

@media screen and (max-width: 767px) {
    .calculadora {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(22, 22, 22);
        width: 100%;
        height: 100%;
        border-radius: 0px;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: -0px 0px 50px rgba(0, 0, 0, 30%);
        border: outset 1px rgb(240, 80, 101);

    }

    .botoes-container {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: 60%;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(4, 95px);
        grid-template-rows: repeat(5, 80px);
        background-color: rgb(24, 22, 22);
        padding: 10px;
        font-size: 1.4em;

    }

}