@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    background: url("https://rare-gallery.com/uploads/posts/5410610-nature-waterfall-cliff-wallpaper-nature-wallpapers-nature-backgrounds-rainforest-rock-cascade-mountain-rocky-mountain-rocky-cliff-rocky-watrfall-low-ngle-low-angle-perspective-geen-green-green.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    
    box-sizing: border-box;

}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgba(238, 238, 238, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
}

.container-main {
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px;
    box-sizing: border-box;



}

.container-colunas {
    height: 100%;
    min-width: 370px;
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px;
    gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;



}

.coluna {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    backdrop-filter: blur(6px);
}

.column-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 12px;

}

.column-header>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 12px;
    padding: 10px;

}

.color-container {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    right: 10px;

}

.btn-change-color {
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 100%;
    border-color: transparent;
    border-style: hidden;
    margin: -5px;
}

.btn-change-color:hover {
    cursor: pointer;
}

.header-destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    color: white;

}

.coluna .header-destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    color: white;
    background-color: rgb(127, 209, 230);

}

.column-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(5, 5, 5, 0.1);


}

.column-footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-add-card {
    display: flex;
    align-items: center;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add-card:hover {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

}

.btn-remove-coluna {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 16px;
    background: none;
    border: none;
    filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(500%) contrast(143%);
}

.btn-remove-coluna:hover {
    filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(300%) contrast(143%);
    cursor: pointer;
}

.card-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(190, 190, 190);
    box-sizing: border-box;
    overflow: hidden;
    
}

.card-container:hover {
    background-color: rgb(245, 245, 245);

}


.card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 300px;
    box-sizing: border-box;
    padding: 10px;

}

.menu-card {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}


h2 {
    font-size: 18px;
    font-weight: 300;
    color: rgb(41, 41, 41);
}

h1 {
    color: rgb(41, 41, 41);
}

.add-coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 250px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 8px;
    gap: 10px;
    backdrop-filter: blur(5px);
}

.add-coluna:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.add-coluna>div {
    display: flex;
}


#coluna-nome {
    background-color: aliceblue;
    width: 100%;
    border: none;
    font-size: 16px;
    color: black;
    height: 30px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

#btn-add-coluna,
.add-text-card {
    width: 140px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(20, 177, 143);
    border: none;
    border-radius: 10px;
    color: white;
}

#btn-add-coluna:hover {
    background-color: rgb(22, 192, 155);
    cursor: pointer;
}

.add-text-card:hover {
    background-color: rgb(22, 192, 155);
    cursor: pointer;
}

.btn-salvar {
    width: 75px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(20, 177, 143);
    border: none;
    border-radius: 10px;
    color: white;
}

.btn-salvar:hover {
    background-color: rgb(22, 192, 155);
    cursor: pointer;
}

.add-coluna-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}


#btn-fechar-add,
.cancel-text-card {
    font-size: 20px;
    background: none;
    border: none;
}

#btn-fechar-add,
.cancel-text-card:hover {
    cursor: pointer;
    filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(300%) contrast(143%);
}

.container-text-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    

}

.footer-text-card {
    display: flex;
    gap: 4px;

}

.input-text-card {
    width: 100%;
    min-height: 60px;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    resize: none;
    
}

.text-card {
    width: 100%;
    min-height: 60px;
    outline: none;
    border: none;
    box-sizing: border-box;
    resize: none;
    background: none;
    
}

.btn-edit-card {
    filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(600%) contrast(143%);
}

.btn-edit-card:hover {
    filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(300%) contrast(143%);
    cursor: pointer;
}

.btn-delet-card {
    filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(600%) contrast(143%);
}

.btn-delet-card:hover {
    filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(300%) contrast(143%);
    cursor: pointer;
}



