@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Patua+One&family=Rubik+Glitch&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: rgb(71, 0, 165);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
   /* background: url("https://rare-gallery.com/uploads/posts/501500-artist-4k-widescreen.jpg");*/
    background-size: cover;
    background-image: center;
}

.game-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.tela-1 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    max-width: 900px;
    height: 70%;
   /* background-color: rgba(1, 202, 185, 20%);*/
    border-radius: 15px;
    gap: 10px;
    color: aliceblue;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 196, 0, 0.5);
    font-size: 40px;
    background-color: rgb(240, 102, 38);


    
}

.btn-jogar {
    width: 200px;
    height: 40px;
    background-color: rgb(253, 236, 0);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: all 1s;
}

.btn-jogar:hover{
    transform: translateY(-5px)
}


.tela-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    background-color: rgba(1, 202, 185, 20%);
    border-radius: 15px;
    gap: 0px;
    border: solid 2px rgba(240, 224, 4, 0.3);
    backdrop-filter: blur(10px);
    background-color: rgb(240, 102, 38);
    
}

.jogada-vez {
    color: aliceblue;
    font-size: 40px;
    animation-name: "opacidade";
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes opacidade {
    from{
        color:aliceblue;
    }
    to{
        color: transparent;
    }
}

.jogo-area {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 90%;
    height: 90%;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    grid-template-areas: 
    "q1", "q2", "q3",
    "q4", "q5", "q6",
    "q7", "q8", "q9";
    gap: 10px;
    
}

.quadrados {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,50%);
    border-radius: 15px;
    transition: all 1s;
    border: 2px solid rgb(255, 94, 1);
    background-color: rgb(65, 0, 139);
}

.quadrados:hover {
    border: 2px solid rgba(255, 217, 0, 1);
    background-color: rgb(77, 4, 160);
    

}

.quadrados:active {
    width: 95%;
    height: 95%;

}
.q1 {
    
    grid-area: "q1";
}
.q2 {
    
    grid-area: "q2";
}

.q3 {
    
    grid-area: "q3";
}

.q4 {
    grid-area: "q4";
}

.q5 {
    grid-area: "q5";
}

.q6 {
    grid-area: "q6";
}

.q7 {
    grid-area: "q7";
}

.q8 {
    grid-area: "q8";
}

.q9 {
    grid-area: "q9";
}

.tela-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,80%);
    box-sizing: border-box;
    font-size: 1.3em;
}

.end-game {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0px;
    align-items: center;
    width: 600px;
    height: 350px;
    background-color: rgba(1, 202, 185, 10%);
    border-radius: 15px;
    gap: 5px;
    color: aliceblue;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(106, 14, 255, 0.5);
    font-size: 40px;
    background-color: rgb(65, 0, 139);
}

.btn-again {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(1, 202, 185);
    font-weight: bold;
    font-size: 12px;
    transition: all 1s;
    background-color: rgb(253, 236, 0);
    
}

.btn-again:hover{
    transform: translateY(-5px)
}

.copyright {
    color: rgba(255,255,245, 80%);
    bottom: 10px;
    position: absolute;
}