@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100vH;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0, 100, 167), rgb(139, 222, 255));
    color: white;
    font-family: 'Work Sans', sans-serif;
    background: url("https://rare-gallery.com/uploads/posts/5400744-cloud-sunrise-summit-sky-scenic-cloudscape-atmosphere-horizon-sunset-mountain-visit-asium-journey-travel-photography-hiking-outdoor-nature-photography-nature-great-nature-cloud-porn-sunray-cre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.container-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 720px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    backdrop-filter: blur(10px);
}

.container {
    width: 400px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;

}

.container-header {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid rgb(243, 243, 243);
    color: rgb(79, 99, 103);
    gap: 5px;
    box-sizing: border-box;
    
}

#refresh {
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(70%) contrast(100%);
}

#refresh:hover {
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(80%) contrast(100%);
    cursor: pointer;
}


.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
    border-bottom: 1px solid rgb(243, 243, 243);
    color: rgb(79, 99, 103);
    font-size: 4em;
}

.main-temp {
    display: flex;
    justify-content: center;
    align-items: center;
}

#condição {
    font-size: 20px;
    color: gray
}


.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uf {
    width: 50px;
    height: 30px;
    border: none;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(225, 242, 250);
    cursor: pointer;
}

#municipios {
    height: 30px;
    border: none;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}


select option {
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 8);
    cursor: pointer;
}

select:checked {
    background-color: rgb(27, 120, 163);
    cursor: pointer;

}

#data {
    color: black;
    margin-bottom: 30px;
}

.imagem-tempo {
    animation-name: "animar-imagem";
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes animar-imagem {
    from {
        transform: translateY(-30px);
        opacity: 0%;


    }

    to {
        transform: translateY(0px);


    }
}

@media(max-width: 500px){
    body {
        height: 100vH;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Work Sans', sans-serif;
    }

    .container-border {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 620px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 40px;
        backdrop-filter: blur(10px);
    }

    .container {
        width: 380px;
        height: 600px;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        box-sizing: border-box;
        overflow: hidden;
    
    }
}