@import url('https://fonts.cdnfonts.com/css/gotham');



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Gotham', sans-serif;
    scroll-behavior: smooth;
}



body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(26, 26, 26);
    border-bottom: 1px solid black;


}

.logoContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-left: 10px;

}

.searchContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 40px;

}

.searchBar {
    width: 50%;
    max-width: 450px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    border: 1px solid gray;
    outline: none;
    color: rgb(240, 248, 255);
    padding-left: 50px;
    box-sizing: border-box;
    background: url("/barraflix/icones/search-line.svg") no-repeat 10px center;
    transition: all 1s;

}

.searchBar:focus {
    border: 2px solid rgb(175, 12, 12);
    background-color: rgb(32, 32, 32);
}

.menu-mobile {
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: rgb(20, 20, 20);
    border-bottom: 1px solid black;
    border-top: 1px solid rgb(31, 31, 31);
    box-sizing: border-box;

}

.menuLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    background-color: rgb(26, 26, 26);
    box-sizing: border-box;
}

.btnMenu,
.btnMenuHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: solid 1px rgb(7, 7, 7);
    border-top: 1px solid rgb(31, 31, 31);
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);

}

.btnMenu:hover,
.btnMenuHome:hover {
    background-color: rgb(175, 12, 12);
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: 300ms;
}

[btndestaque] {
    background-color: rgb(175, 12, 12);
    font-weight: bold;
    font-size: 1em;
}

.containerCards {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(29, 29, 29);
    padding: 20px;
    gap: 10px;
    box-sizing: border-box;
    overflow: hidden;

}

#cardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 560px;
    min-width: 320px;
    box-sizing: border-box;
    background-color: rgb(26, 26, 26);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(24, 24, 24);
    box-shadow: -10px 10px 20px rgb(17, 17, 17);
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.5s;
    cursor: pointer;
}

.barNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    gap: 30px;
}

.barNav>button {
    width: 180px;
    height: 40px;
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: rgb(175, 12, 12);
    color: aliceblue;
    text-align: center;


}

#cardBox:hover {
    background-color: rgb(31, 31, 31);

}

#cardBox:hover .cardPoster .poster {
    transform: scale(1.1);

}

.cardPoster {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;

}



.poster {
    width: 100%;
    transition: all 0.5s;
    box-sizing: border-box;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 18%;
    border-radius: 0px 0px 10px 10px;
    color: aliceblue;
    font-size: 0.6em;
    text-align: center;
    box-sizing: border-box;

}

.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(0, 0, 0);

}

.divRate {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    border-top: 1px solid rgb(31, 31, 31);
    color: rgb(235, 235, 235);
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;

}

.movieRate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.divRate>p {
    font-weight: 600;
}

.destaque {
    color: rgb(255, 255, 255);

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: rgb(26, 26, 26);
    border-top: 1px solid rgb(31, 31, 31);
    color: aliceblue;
    gap: 2px
}

footer>img {
    margin-bottom: 10px;
}

footer>p:nth-child(3) {
    color: rgb(78, 78, 78);
}

.msgErro {
    color: azure;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    box-sizing: border-box;


}

.sectionHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
    color: aliceblue;

}

.sectionContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    overflow: hidden;


}

.navLeft {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    z-index: 2;
    background: none;
    transition: all 1s;

}

.navLeft:hover {

    background: linear-gradient(90deg, rgba(175, 12, 12, 0.5), rgba(175, 12, 12, 0));
    background: linear-gradient(90deg, rgba(88, 88, 88, 0.5), rgba(175, 12, 12, 0))
}

.arrowLeft {
    filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(300%) contrast(143%);
}

.sectionContainerBox {
    position: relative;
    left: -440px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;


}

.navRight {
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    right: 200px;
    z-index: 2;
    background-image: linear-gradient(90deg, rgba(88, 88, 88, 0), rgba(88, 88, 88, 0));
    transition: all 1s;

}

.navRight:hover {
    background-image: linear-gradient(90deg, rgba(88, 88, 88, 0), rgba(88, 88, 88, 0.5));

}

.arrowRight {
    filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(300%) contrast(143%);
}

[slide-next] {
    transition: all 1s;
    animation-name: slide-next;
    animation-duration: 0.5s;
    animation-direction: normal;

}

@keyframes slide-next {
    from {
        transform: translateX(0px)
    }

    to {
        transform: translateX(340px);
    }
}

[slide-prev] {
    transition: all 1s;
    animation-name: slide-prev;
    animation-duration: 0.5s;
    animation-direction: normal;

}

.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(2, 2, 2, 0.8);
    z-index: 10;
    backdrop-filter: blur(5px);

}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    max-height: 700px;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    overflow: hidden;
    border-radius: 20px;
    border: 3px rgb(36, 36, 36);
    border-style: outset;
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-direction: alternate;
}

@keyframes zoom {
    from {
        transform: scale(0);

    }

    to {
        transform: scale(1);
    }
}

.boxHeader {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(2, 2, 2, 0.8);
}

.btnFechar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.btnFechar>img {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(600%) contrast(100%);
}

.btnFechar>img:hover {
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.boxMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: rgba(2, 2, 2, 0.8);
    box-sizing: border-box;
}

.posterInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;


}

.textInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 100%;
    color: aliceblue;

}

.boxFooter {
    width: 100%;
    height: 10%;
    background-color: rgba(2, 2, 2, 0.8);
}


.posterInfo>img {
    border-radius: 20px;
    animation-name: cardRotate;
    animation-duration: 1s;
    animation-direction: alternate;
    transition: all 1s;
}





@keyframes cardRotate {
    from {
        transform: rotate3d(0, 0, 0, 0deg);
        opacity: 0;
    }

    to {
        transform: rotate3d(0, 1, 0, 360deg);
        opacity: 1;
    }
}

.textInfoHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 20px;

}

.textInfoHeaderDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.ballList {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: aliceblue;
}

.textInfoMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    gap: 10px;
    padding: 20px;

}

.btn-trailer {
    position: relative;
    width: 120px;
    height: 35px;
    background-color: rgb(175, 12, 12);
    border: none;
    color: aliceblue;
    border-radius: 15px;
    margin-top: 10px;
    font-weight: 500;
    transition: all 300ms;
}

.btn-close-trailer {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(600%) contrast(100%);
}

.btn-close-trailer:hover {
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.trailer-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    overflow: hidden;
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-direction: alternate;
}

.trailer-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3%;
    padding: 2px;

}

.trailer-container-header>h1 {
    color: aliceblue;
    padding-left: 25px;
    font-size: 1.5rem;

}

.trailer-container-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97%;
    padding: 0px 20px;
    box-sizing: border-box;
    overflow: hidden;

}



.trailer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px groove rgb(31, 31, 31);
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}



.btn-trailer:hover {
    background-color: rgb(212, 24, 24);
    transform: scale(1.1);
}

.textInfoFooter {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 20px 30px;
    gap: 10px;
}

.textInfoFooter>img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(16deg) brightness(100%) contrast(100%);
}


@keyframes slide-prev {
    from {
        transform: translateX(0px)
    }

    to {
        transform: translateX(-340px);
    }
}

#btnPrevious {
    transition: all 300ms;
    font-size: 1em;
    background-color: rgb(24, 24, 24);
    box-shadow: -5px 10px 20px rgb(22, 22, 22);
    background-color: rgba(175, 12, 12, 1);
}

#btnPrevious:hover {
    font-size: 1.1em;
    background-color: rgba(175, 12, 12, 1);
    background-color: rgb(24, 24, 24);

}

#btnNext {
    transition: all 300ms;
    font-size: 1em;
    background-color: rgb(24, 24, 24);
    box-shadow: -5px 10px 20px rgb(22, 22, 22);
    background-color: rgba(175, 12, 12, 1);
}

#btnNext:hover {
    font-size: 1.1em;
    background-color: rgba(175, 12, 12, 1);
    background-color: rgb(24, 24, 24);

}

@media screen and (max-width: 767px) {

    header {
        top: 0px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: rgb(26, 26, 26);
        border-bottom: 1px solid black;
        z-index: 20;

    }

    .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;

    }

    .logoContainer>img {
        width: 90%;
        height: 90%;
        object-fit: contain;
    }

    .searchContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
        padding-right: 0px;

    }

    .searchBar {
        width: 95%;
        max-width: 450px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid gray;
        outline: none;
        color: rgb(240, 248, 255);
        padding-left: 50px;
        box-sizing: border-box;
        background: url("/barraflix/icones/search-line.svg") no-repeat 10px center;
        transition: all 1s;

    }


    .menu-mobile {
        right: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 100%;
        z-index: 200;
    }

    #checkbox {
        position: absolute;
        opacity: 0;
    }

    .menu-label {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 40px;
        height: 40px;

    }

    .menu-label>span {
        position: relative;
        width: 100%;
        height: 5px;
        background-color: aliceblue;
        border-radius: 10px;
        transition: all 300ms;
    }

    #checkbox:checked+.menu-label span:nth-child(1) {
        background-color: rgba(175, 12, 12, 1);
        transform: rotate(-45deg);
        top: 12px
    }

    #checkbox:checked+.menu-label span:nth-child(2) {
        background-color: rgba(175, 12, 12, 1);
        opacity: 0;
    }

    #checkbox:checked+.menu-label span:nth-child(3) {
        background-color: rgba(175, 12, 12, 1);
        transform: rotate(45deg);
        top: -11px
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background-color: rgb(20, 20, 20);
        border-bottom: 1px solid black;
        border-top: 1px solid rgb(31, 31, 31);
        box-sizing: border-box;
        padding-top: 100px;

    }

    .menuLeft {
        position: fixed;
        flex-wrap: wrap;
        right: 0px;
        top: 0px;
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100vh;
        box-sizing: border-box;
        overflow: hidden;
        background-color: rgb(26, 26, 26);
        z-index: 10;
        animation-name: menu-start;
        animation-duration: 1s;
        animation-direction: normal;
        padding-top: 100px;
        transition: all 1s;


    }

    .btnMenu,
    .btnMenuHome {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 10%;
        scroll-snap-align: start;
        border: none;
        border-bottom: solid 1px rgb(7, 7, 7);
        border-top: 1px solid rgb(31, 31, 31);
        background-color: rgb(20, 20, 20);
        color: rgb(255, 255, 255);
        box-sizing: border-box;

    }


    @keyframes menu-start {
        from {
            transform: translateX(400px);
        }

        to {
            transform: translateX(0px);
        }
    }

    @keyframes menu-close {
        from {
            transform: translateX(0px);
        }

        to {
            transform: translateX(400px);
        }
    }

    [menu-close] {
        animation-name: menu-close;
        animation-duration: 1s;
        animation-direction: normal;

    }

    .containerCards {
        padding: 0px;
    }

    .sectionHeader {
        justify-content: center;
        padding-left: 10px;
    }

    .sectionContainer {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 90%;
        box-sizing: border-box;
        overflow: hidden;


    }

    .navLeft {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 100%;
        z-index: 2;
        background: none;
        transition: all 1s;

    }

    .navLeft:hover {

        background: linear-gradient(90deg, rgba(175, 12, 12, 0.5), rgba(175, 12, 12, 0));
        background: linear-gradient(90deg, rgba(88, 88, 88, 0.5), rgba(175, 12, 12, 0))
    }

    .arrowLeft {
        filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(300%) contrast(143%);
    }

    .sectionContainerBox {
        position: relative;
        justify-content: flex-start;
        left: -440px;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        gap: 20px;
        padding: 10px;
        box-sizing: border-box;


    }

    .navRight {
        display: flex;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 100%;
        right: 160px;
        z-index: 2;
        background-image: linear-gradient(90deg, rgba(88, 88, 88, 0), rgba(88, 88, 88, 0));
        transition: all 1s;

    }

    .navRight:hover {
        background-image: linear-gradient(90deg, rgba(88, 88, 88, 0), rgba(88, 88, 88, 0.5));

    }

    .arrowRight {
        filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(300%) contrast(143%);
    }

    .infoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(2, 2, 2, 0.8);
        z-index: 30;
        backdrop-filter: blur(5px);

    }

    .infoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: none;
        max-height: none;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        overflow: hidden;
        border-radius: 0px;
        border: none;
        border-style: none;
        animation-name: zoom;
        animation-duration: 0.5s;
        animation-direction: alternate;
    }

    .posterInfo {
        display: none;
    }

    .textInfoHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 20%;
        box-sizing: border-box;
        padding: 20px;

    }

    .textInfoHeaderDesc {
        flex-wrap: wrap;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 7px;
    }

    .ballList {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: aliceblue;
    }

    .textInfoMain {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 60%;
        box-sizing: border-box;
        gap: 10px;
        padding: 20px;

    }

    .btn-trailer {
        position: relative;
        width: 120px;
        height: 35px;
        background-color: rgb(175, 12, 12);
        border: none;
        color: aliceblue;
        border-radius: 15px;
        margin-top: 10px;
        font-weight: 500;
        transition: all 300ms;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        background-color: rgb(26, 26, 26);
        border-top: 1px solid rgb(31, 31, 31);
        color: aliceblue;
        gap: 2px;
        text-align: center;
    }

    footer>img {
        margin-bottom: 10px;
    }

    footer>p:nth-child(3) {
        color: rgb(78, 78, 78);
    }

    .btn-trailer {
        position: relative;
        width: 120px;
        height: 35px;
        background-color: rgb(175, 12, 12);
        border: none;
        color: aliceblue;
        border-radius: 15px;
        margin-top: 10px;
        font-weight: 500;
        transition: all 300ms;
    }

    .btn-close-trailer {
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(600%) contrast(100%);
    }

    .btn-close-trailer:hover {
        filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }

    .trailer-container {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        box-sizing: border-box;
        overflow: hidden;
        animation-name: zoom;
        animation-duration: 0.5s;
        animation-direction: alternate;
    }

    .trailer-container-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3%;
        padding: 2px;

    }

    .trailer-container-header>h1 {
        color: aliceblue;
        padding-left: 10px;
        font-size: 1rem;

    }

    .trailer-container-movie {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px 0px;
        box-sizing: border-box;
        overflow: hidden;

    }

    .trailer {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 3px groove rgb(31, 31, 31);
        border-radius: 0px;
        box-sizing: border-box;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }

    .btn-trailer:hover {
        background-color: rgb(212, 24, 24);
        transform: scale(1.1);
    }

}