@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.page {
  --bg-page: #0C0F14;
  --bg-main-color1: #303437;
  --bg-main-color2: #1F2326;
  --title-color: #ffffff;
  --bg-area-draw: #1C2023;
  --btn-color: #495CF8;
  --btn-color-disabled:rgb(117, 117, 117)2;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100Vw;
  height: 100Vh;
  background-color: var(--bg-page);
  font-family: "Roboto", sans-serif;
  
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  border-radius: 50px;
  box-shadow: 50px 50px 50px #000000;
  background-image: linear-gradient(180deg, var(--bg-main-color1), var(--bg-main-color2));
  gap: 20px;
  padding: 20px;
  
}

.title {
  font-size: 2rem;
  color: var(--title-color);
  font-weight: 700;
  text-align: center;
}

.areaBox {
  display: grid;
  grid-template:
    "none areaA" 1fr "areaB areaDraw" 3fr / 1fr 4fr 1fr;
  width: 500px;
  height: 300px;

}

.areaA {
  grid-area: areaA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.areaB {
  grid-area: areaB;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode:vertical-rl;
  

}

.areaDraw {
  grid-area: areaDraw;
  border: 1px inset black;
  background-color: var(--bg-area-draw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.valuesBox {
  display: grid;
  grid-template:
    "info info" 1fr
    "valueA valueB" 1.5fr
    / 1fr 1fr
  ;
  background-image: linear-gradient(75deg, var(--bg-main-color1), var(--bg-main-color2));
  border-radius: 20px;
  box-shadow: 10px 10px 20px #111111;
}

.textInfo {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.boxValueA {
  grid-area: valueA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.boxValueB {
  grid-area: valueB;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;

}

.boxValueB input {
  width: 60%;
  height: 30px;
  border: 1px inset var(--bg-area-draw);
  padding-left: 5px;
}

.boxValueA input {
  width: 60%;
  height: 30px;
  border: 1px inset var(--bg-area-draw);
  padding-left: 5px;
}

.btnCalc {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--btn-color);
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 20px #111111;
  transition: 200ms ease-in-out;
}

.btnCalc:disabled {
  background-color: var(--btn-color-disabled);
  cursor: not-allowed;
 
}

.btnCalc:hover {
 scale: 1.1;
 
}