.header {
  width: 100%;
  height: 10%;
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85%;
  background-color: rgb(241, 241, 241);
  color: black;
  background-position: center;
  background-size: cover;
  gap: 10px;
}

.title {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 600;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  background-color: rgb(22, 22, 22);
  position: absolute;
  bottom: 0;
  gap: 15px;
  border-top: 1px solid rgb(71, 71, 71);
}

.boxCopy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;

}

.powered {
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  color: rgb(77, 77, 77);

}

.visor {
  color: black;
  border: 1px black groove;

}

.visor a {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 60px;
  height: 30px;
  background-color: blueviolet;
  border-radius: 10px;
}

.container_images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.box_images {
  width: 60px;
  height: 60px;
  background-color: aliceblue;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.box_images:hover {
  scale: 1.1;
}

.box_glass {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  height: 30%;
  border-radius: 20px;
  border: 1px white solid;
}

.box_controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_controls p {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.input_controls {
  accent-color: rgb(231, 5, 61);
  cursor: pointer;
}

@keyframes animationImages {
  from {}

}

.boxCode {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  color: white;
  padding: 15px;
  gap: 5px;
}

.copyButton {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(231, 5, 61);
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.copyButton:hover {
  scale: 110%;
}

.popupInfo {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(231, 5, 61);
  border-radius: 10px;
  bottom: 15px;
  right: 15px;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  animation: notification;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
}

@keyframes notification {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  10% {
    transform: translateY(-20px);
    opacity: 100%;
  }

  80% {
    transform: translateY(-20px);
    opacity: 100%;
  }

  100% {
    transform: translateY(0px);
    opacity: 0%;
  }
}