
$bg-color: rgb(255, 255, 255);
$text-primary-color: rgb(0, 0, 0);
$text-secondary-color: rgb(83, 100, 113);
$destaque-color: rgb(29, 155, 240);
$btn-bg-color: rgb(29, 155, 240);
$btn-text-color: rgb(252, 252, 252);
$btn-bg-hover-color: rgb(23, 137, 212);
$menu-hover-color: rgb(216, 216, 216);
$border-radius: 30px;
$bg-secundary-color: rgb(235, 235, 235);