@import "_variables";
@import "mixins";

.side-left {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    padding: 0rem 1rem 1rem 1rem;
    .menu-btn-tweet {
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0.8rem;
        transition: background-color 200ms;
        border-radius: $border-radius;
        img {
            width: 30px;
        }
        a {
            color: $text-primary-color;
            font-size: 1.2rem;
        }
    }

    span:hover {
        background-color: $menu-hover-color;
        border-radius: $border-radius;
    }
}

.btn-tweet {
    @include center;
    border-radius: $border-radius;
    background-color: $btn-bg-color;
    width: 90%;
    height: 50px;
    a {
        color: $btn-text-color;
        font-weight: 600;
        font-size: 1.2rem;
    }
}

.btn-tweet:hover {
    background-color: $btn-bg-hover-color;
}
