.btn-scroll-top{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    width: 50px;
    height: 50px;
    background-color: rgb(34, 77, 221);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    &:hover{
        transform: scale(1.1);
    }
}

.arrow-up-icon{
scale: 1.5;
color: white
}