

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    height: 100px;
    background-color: rgb(211, 21, 21);
    padding: 1rem;
    >a{
        font-size: 0.8rem;
        color: white;
        font-weight: 500;
    }
    >a:hover{
        cursor: pointer;
    }
}

.logo{
    width: 160px
}

.arrow-icon{
   scale: 1.3;
}

