.search-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 320px;
    background-color: rgb(241, 241, 241);
    padding-bottom: 3rem;
}

.search-bar-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    >img{
        position: relative;
        width: 20px;
        left: -35px
    }
    ::placeholder{
        color: rgb(126, 126, 126);
    }
}

.search-bar-info{
    >h1{padding-right: 25px;}
}

.search-input{
    position: relative;
    border: none;
    max-width: 500px;
    width: 30%;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 20px;
    &:focus{
        outline: none;
    }
    
}